.dropzone {
    width: 100%;
}

.dropzone__drop-area {
    height: 150px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 1px 9px grey;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    cursor: pointer;
}

.dropzone__drop-area p {
    font-size: 14px;
    color: #fff;
    font-family: Helvetica;
    font-weight: 600;
    text-align: center;
    margin-top: 56px;
}